*{box-sizing: border-box}
#main {
    margin: 0 auto;
/*    width: 600px;
    height: 600px;*/
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.mainInfo {
    width: 80%;
    text-align: center;
}